{% extends 'base.html'%}

{% block title %}Home
{% endblock title %}

{% block body %}
<div class="container  px-0">

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
   <h2 class="text-center"> Welcome to the best icecream of Bhopal</h2>
      <p class="text-center"> “Ice cream sab khate hain… but ours is something special. Try it once, and you’ll crave it again!” </p>
  <div class="carousel-inner">
    <div class="carousel-item active ">
      <img src="https://images.unsplash.com/photo-1517093157656-b9eccef91cb1?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OTB8fGljZSUyMGNyZWFtfGVufDB8fDB8fHww" class="d-block w-100 " alt="..." style="height: 600px; object-fit: cover;">
    </div>
  
    <div class="carousel-item">
      <img src="https://plus.unsplash.com/premium_photo-1661427159078-9d85039e99b8?q=80&w=1332&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="d-block w-100" alt="..." style="height: 600px; object-fit: cover;">
    </div>
    <div class="carousel-item">
      <img src="https://plus.unsplash.com/premium_photo-1661427159078-9d85039e99b8?q=80&w=1332&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="d-block w-100" alt="..." style="height: 600px; object-fit: cover;">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>


</div>
</div>






  <h1 class="text-center">Select from our range of icecream</h1>
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
           <img src="https://plus.unsplash.com/premium_photo-1677696295482-bf8a53d2ee90?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fGljZSUyMGNyZWFtcmFuZG9tfGVufDB8fDB8fHww" class="d-block w-100" alt="...">

            <div class="card-body">
              <p class="card-text">Experience the magic of smooth, velvety ice cream crafted with love. Every scoop is a perfect blend of sweetness and freshness that keeps you coming back for more..</p>
              <div class="d-flex justify-content-between align-items-center">
                
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">

           <img src="https://images.unsplash.com/photo-1720027737951-a4ca41b19c3b?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8aWNlJTIwY3JlYW1yYW5kb218ZW58MHx8MHx8fDA%3D" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">Indulge in the creamy goodness of our handcrafted ice cream, made with rich flavors that melt perfectly in every bite. A treat that refreshes your mood instantly.</p>
              <div class="d-flex justify-content-between align-items-center">
                
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">

            <img src="https://plus.unsplash.com/premium_photo-1677696295482-bf8a53d2ee90?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fGljZSUyMGNyZWFtcmFuZG9tfGVufDB8fDB8fHww" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">A delightful scoop of happiness! Our ice cream is made to satisfy your sweet cravings with its rich texture and irresistible taste..</p>
              <div class="d-flex justify-content-between align-items-center">
                
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">

            <img src="https://images.unsplash.com/photo-1608856911703-f1afb07234f9?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fGljZSUyMGNyZWFtcmFuZG9tfGVufDB8fDB8fHww" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">Taste the joy in every scoop! Our delicious ice cream is made with premium ingredients, offering a rich, creamy experience you’ll never forget.</p>
              <div class="d-flex justify-content-between align-items-center">
                
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">

            <img src="https://images.unsplash.com/photo-1608856911703-f1afb07234f9?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fGljZSUyMGNyZWFtcmFuZG9tfGVufDB8fDB8fHww" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">Savor the richness of our premium ice cream, crafted to perfection with smooth textures and unforgettable flavors that melt in your mouth..</p>
              <div class="d-flex justify-content-between align-items-center">
                
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">

            <img src="https://images.unsplash.com/photo-1608856911703-f1afb07234f9?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fGljZSUyMGNyZWFtcmFuZG9tfGVufDB8fDB8fHww" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">Made with fresh ingredients and bursting with flavor, our ice cream brings you the true taste of happiness in every bite.</p>
              <div class="d-flex justify-content-between align-items-center">
                
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">

            <img src="https://plus.unsplash.com/premium_photo-1677696295482-bf8a53d2ee90?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fGljZSUyMGNyZWFtcmFuZG9tfGVufDB8fDB8fHww" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">Dive into a world of creamy delight where every scoop is packed with rich taste, smooth texture, and pure indulgence.</p>
              <div class="d-flex justify-content-between align-items-center">
                
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">

            <img src="https://plus.unsplash.com/premium_photo-1677696295482-bf8a53d2ee90?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fGljZSUyMGNyZWFtcmFuZG9tfGVufDB8fDB8fHww" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">Treat yourself to the ultimate ice cream experience — rich, creamy, and made to satisfy your sweetest cravings.</p>
              <div class="d-flex justify-content-between align-items-center">
                
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">

            <img src="https://plus.unsplash.com/premium_photo-1677696295482-bf8a53d2ee90?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fGljZSUyMGNyZWFtcmFuZG9tfGVufDB8fDB8fHww" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">A perfect scoop on a crispy cone, delivering the ideal balance of crunch and creamy delight in every bite.</p>
              <div class="d-flex justify-content-between align-items-center">
                
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  

{% endblock body %}


